body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  background-color: black;
}
h1{
  font-size: 50px;
  color: aliceblue;
}
.name{
  color: rgb(226, 95, 226);
  font-size: 60px;
}
section{
  display: flex;
  margin-bottom: 100px;
}
.top-banner{
  background-image: url(tamplates-for-image/bg-design.png);
  background-repeat: no-repeat;
}
.half-width{
  width: 50%;
  padding-left: 8%;
}
.half-width img{
  width: 80%;
}
.half-width p{
  font-weight: 600;
  color: aliceblue;
}
.button{
  text-decoration: none;
  background-image:linear-gradient(rgb(226, 95, 226),salmon);
  color: aliceblue;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 7px;
}
.dream-big{
  background-image: url(tamplates-for-image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
h2{
  color: aliceblue;
}